<input type="text" [(ngModel)]="title" />

{{ title }}

<div *ngIf="title === 'Platzi'">
  You're studying with platzi
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Andrés'">Hey! You're the admin!</p>
  <p *ngSwitchCase="'Mauricio'">Hey! You're the father of the admin!</p>
  <p *ngSwitchCase="'Sandra'">Hey! You're the the mother of the admin!</p>
  <p *ngSwitchCase="'Luna'">Hey! You're the dog the admin!</p>
  <p *ngSwitchDefault>Who are you?</p>
</div>

<br />
<br />
<label for="dynamic">
  Add your dynamic item here!
</label>
<input type="text" id="dynamic" [(ngModel)]="dynamicItem" />

<button (click)="handleAddItem()">Add item</button>

<ul>
  <li *ngFor="let item of items; index as i">
    {{ item }} {{ i }} <button (click)="handleDeleteItem(i)">Delete</button>
  </li>
</ul>

<span>List size: {{ items.length }}</span>

<div *ngFor="let product of products">
  {{ product.title }}
  <img [src]="product.image" [alt]="product.title" />
  {{ product.price }}
</div>
